<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Add Review</title>
    <link rel="stylesheet" href="./static/styles.css">
    <!-- <script src="./static/place.js"></script> -->
    <script src="./static/review.js"></script>
</head>
<body>
    <main>
        <!-- Add something to idfentify the place you're reviewing -->
        <form id="review-form">
            <h2>Add a Review</h2>
            <input type="hidden" id="place-id" name="place-id">
            <label for="review-text">Your Review:</label>
            <textarea id="review-text" name="review" required></textarea>
            <label for="review-rating">Rating:</label>
            <select id="review-rating" name="rating" required>
                <!-- Options for rating -->
                 <option value="1">⭐</option>
                 <option value="2">⭐⭐</option>
                 <option value="3">⭐⭐⭐</option>
                 <option value="4">⭐⭐⭐⭐</option>
                 <option value="5">⭐⭐⭐⭐⭐</option>
            </select>
            <button type="submit">Submit Review</button>
        </form>
    </main>
    <script src="./static/scripts.js"></script>
</body> 
</html>