<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
</head>

<body>
    <header>
        <img src="{{ url_for('static', filename='images/logo.png') }}" alt="App Logo">
        <nav>
            <a href="./" id="main-page">Main</a>
        </nav>
    </header>
    <main>
        <div>
            <form id="login-form">
                <p id="login-result"></p>
                <div class="form-group">
                    <label for="email">Email:</label>
                    <input type="email" id="email" name="email" placeholder="Please enter your email" required>
                </div>
                <div class="form-group">
                    <label for="password">Password:</label>
                    <input type="password" id="password" name="password" placeholder="Please enter your password"
                        required>
                </div>
                <button type="submit" class="login-button">Login</button>
                <p id="error-message" style="display:none; color: red;"></p>
            </form>
        </div>
        <div class id="url-address"></div>
    </main>
    <script type="text/javascript" src="{{ url_for('static', filename='scripts.js') }}"></script>
</body>

</html>