<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Place Details</title>
    <link rel="stylesheet" href="./static/styles.css">
    <script src="./static/place.js"></script>
</head>
<body> 
    <header>
        <img src="{{ url_for('static', filename='images/logo.png') }}" alt="App Logo">
         <nav>
            <a href="./login" id="login-page"><button>Login</button></a>
            <a href="./" id="main-page">Main</a>
        </nav>
    </header>
    <main>
        <section id="place-details">
            <!-- Place details will be populated dynamically -->
             <div class="place-details">
                <h2>New house by the sea</h2>
             </div>
             <div class="place-info">
                <p>Host : David </p>
                <p>Price: AU $150 per night</p>
                <p>Description: Beautiful seaview view, 3 rooms </p>
                <p>Amenities: Bathroom, ensuite, kitchen, washing machine</p>
             </div>
        </section>
        <section id="reviews">
            <!-- Reviews will be populated dynamically -->
            <h2>Review</h2> 
            <div class="review-card">
                <p>Comment: Wonderful view and location by the sea. Great sunrise and sunset View</p>
                <p>User: Alice Spring</p>
                <p>Rating:  &#11088 &#11088 &#11088 &#11088 </p>

             </div>
             <!-- <a href="./add_review" id="add-review-page"><button>Add Review</button></a> -->
             <a href="./add_review" id="add-review"><button>Add Review</button></a>
        </section>
        <!-- <section id="add-review">
            <h2>Add a Review</h2>
            <form id="review-form">
                <label for="review-text">Review:</label>
                <textarea id="review-text" name="review-text" required></textarea>
                
                <button type="submit">Submit</button>
            </form>
        </section> -->
    </main>
    <script src="./static/scripts.js"></script>
    <footer>&copy All right reserved</footer>
</body>
</html>